{{#with recommendation as |book|}}
<form id='addRecBook'>
    <fieldset>
      <h3 class='text-center'> Add Recommended Book! </h3>
      <input readonly class='form-control-plaintext text-white booktitle' name='book[title]' type='text' value="{{book.title}}" />
      <input readonly class='form-control-plaintext text-white bookauthor' name='book[author]' type='text' placeholder='Book Author' value="{{book.author}}" />
      <br>
      <div id='rating'>
        <h3 class='text-center'> Rating </h3>
        <label class='heart'>
          <input type="radio" name="book[rating]" value="1">
          <div class='imgSelect'>
          <img src='./public/oneheart.png' alt='one heart rating' width="50" height="50"/>
          </div>
        </label>
        <br>
        <label class='heart'>
          <input type="radio" name="book[rating]" value="2">
          <div class='imgSelect'>
          <img src='./public/twohearts.png' alt='two heart rating' width="50" height="50"/>
        </div>
        </label>
        <br>
        <label class='heart'>
          <input type="radio" name="book[rating]" value="3">
          <div class='imgSelect'>
          <img src='./public/threehearts.png' alt='three heart rating' width="50" height="50"/>
        </div>
        </label>
        <br>
        <label class='heart'>
          <input type="radio" name="book[rating]" value="4">
          <div class='imgSelect'>
          <img src='./public/fourhearts.png' alt='four heart rating' width="50" height="50"/>
        </div>
        </label>
        <br>
        <label class='heart'>
          <input type="radio" name="book[rating]" value="5">
          <div class='imgSelect'>
          <img src='./public/fivehearts.png' alt='five heart rating' width="50" height="50"/>
          </div>
        </label>
      </div>
      <textarea class='bookreview' rows="5" cols="50" name='book[review]' maxlength='500' placeholder='Review...' /></textarea>
      <br>
      <input type='submit' value='save' />
    </fieldset>
  </form>
{{/with}}
