{{#with book as |book|}}
<form id='UpdateBook'>
    <fieldset>
      <legend> Update Book! </legend>
      <input class='booktitle' name='book[title]' type='text' placeholder='Book Title' value= {{book.title}} />
      <input name='book[author]' type='text' placeholder='Book Author' value= {{book.author}} />
      <div id='rating'>
        <label class='heart'>
          <input type="radio" name="book[rating]" value="1">
          <div class='imgSelect'>
          <img src='./public/oneheart.png' alt='one heart rating' width="50" height="50"/>
          </div>
        </label>
        <br>
        <label class='heart'>
          <input type="radio" name="book[rating]" value="2">
          <div class='imgSelect'>
          <img src='./public/twohearts.png' alt='two heart rating' width="50" height="50"/>
        </div>
        </label>
        <br>
        <label class='heart'>
          <input type="radio" name="book[rating]" value="3">
          <div class='imgSelect'>
          <img src='./public/threehearts.png' alt='three heart rating' width="50" height="50"/>
        </div>
        </label>
        <br>
        <label class='heart'>
          <input type="radio" name="book[rating]" value="4">
          <div class='imgSelect'>
          <img src='./public/fourhearts.png' alt='four heart rating' width="50" height="50"/>
        </div>
        </label>
        <br>
        <label class='heart'>
          <input type="radio" name="book[rating]" value="5">
          <div class='imgSelect'>
          <img src='./public/fivehearts.png' alt='five heart rating' width="50" height="50"/>
          </div>
        </label>
      </div>
      <input class='bookreview' name='book[review]' type='text' maxlength='500' placeholder='Review...' />
      <br>
      <input type='submit' value='update' />
    </fieldset>
  </form>


{{/with}}
