@import '~bootstrap/scss/bootstrap';

form > h3 {
  color: blue;
}

h1 {
  color: #ffffff;
}

header {
  margin-bottom: 25px;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 250px;
  margin-bottom: 250px;

  :last-child {
    align-items: space-around;
  }
}

body {
  background-image: url('./public/Shelf.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#bookshelf {
  background-color: rgba(232, 201, 180, .1);
  width: 75%;
  height: 75%;
  margin: auto auto 45px;
}

legend {
  color: white;
}

footer {
  background-color: rgb(94, 60, 35);
  margin-top: 50px;
}

#createbookForm {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  width: 75%;
  height: 75%;
  margin: auto auto 45px;
  background-color: rgba(139, 69, 19, .4);

  h3 {
    color: white;
  }
}

#UpdateBook {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  width: 75%;
  height: 75%;
  margin: auto auto 45px;
  background-color: rgba(139, 69, 19, .4);

  h3 {
    color: white;
  }
}

[type = 'radio'] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  display: inline-block;
}

[type=radio] + img {
  cursor: pointer;
}

[type=radio]:checked + .imgSelect {
  outline: 4px solid purple;
}

.imgSelect > img {
  height: 100px;
  width: 250px;
  display: auto;
}

section {
  color: white;
  background-color: pink;
  border: 2px dotted pink;
  text-align: center;
  width: 75%;
  height: 75%;
  margin: auto;
}

section:hover {
  background-color: rgba(94, 60, 35, .6);
}

nav {
  background-color: rgba(94, 60, 35, 1);
}

.navbar-toggler {
  background-color: rgba(94,60,35, 1);
}

.collapsedBar {
  background-color: rgb(94, 60, 35);
}

.messageboard {
  background-color: white;

  #message,
  #readerBookcount,
  #readerStatus {
    text-align: center;
    color: rgb(94,60,35);
  }
}
