@import '~bootstrap/scss/bootstrap';

h3 {
  color: blue;
}

h1 {
  color: #ffffff;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  :last-child {
    align-items: space-around;
  }
}

body {
  background-image: url("./public/bookshelfimg.jpg");
}
